# Copia questo file in .env.local e incolla le chiavi della tua app Firebase

NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyCIPX_eOdOeUIzjEKthNSaKVvMtc6YmyM8
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=giancarlo-padel-championship.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=giancarlo-padel-championship
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=giancarlo-padel-championship.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=897384069926
NEXT_PUBLIC_FIREBASE_APP_ID=1:897384069926:web:a78a2362410dd60bdd5fe7
NEXT_PUBLIC_DEFAULT_TZ=Europe/Rome
